body {
    margin: 0;
    padding: 0;
    font-family: "Oswald";
}

header {
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 1.5% 15%;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 70%;
    height: auto;
    font-size: 1.5rem;
}

header h1 {
    margin: 0;
}

nav {
    grid-column-start: 2;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    height: auto;
}

.nav {
    justify-self: center;
    width: auto;
}

nav a {
    color: black;
    width: 100%;
    text-decoration: none;
    font-size: 0.9em;
    padding: 8px 12px;
}

nav a:hover{
    border: 2px black solid;
    border-radius: 100px;
}

main {
    padding: 0 15%;
    position: relative;
    top: 9em;
    display: grid;
}

.about {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 10% 90%;
    height: fit-content;
}

.about img {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.about img:hover {
    border: 5px solid black;
    border-radius: 100%;
    box-sizing:border-box;
}

.about .text {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    padding-right: 5%;
}

.projects {
   align-self: center;
   margin: 1em 0;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
}

p {
    font-weight: 350;
    font-size: 1.2em;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:focus { 
    text-decoration: none; 
}

a:hover, a:active { 
    text-decoration: none; 
}

.icon {
    padding: 0 0.2em;
    color: black;
}

.contact {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.contact .text {
    align-self: center;
    justify-self: center;
    grid-row: 1 / span 2;
    text-align: center;
}

.about .text p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
}

.contact img {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.custom-logos {
    height: 3em;
    padding: 0 0.2em;
}

#skill-logos {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content:space-between;
}

.skills {
    text-align: center;
}

.skills p {
    padding: 1em;
    color: white;
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 2em;
}

h3 {
    display: inline-block;
    margin: 0;
    padding: 0.25em;
}

.skill {
    display: inline-block;
    color: white;
}

.skill:hover {
    color: black;
}

.skill h6 {
    margin: 0;
    font-size: 0.85em;
}
